{% load static%}

<html lang="en">
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"rel="stylesheet"/>

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"rel="stylesheet"/>

<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"rel="stylesheet"/>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penta</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'trips' %}">Trips</a>
            </li>
          </ul>
          <div class="form-inline ms-auto my-20 my-lg-10">
            <a href="#" class="btn btn-warning">Login</a>
        </div>
        </div>
      </nav>


      {% block content %}
      <div class="image-container">
        <img src="{%static 'images/IMG-20240117-WA002211.jpg'%}" class="fit-image">
    </div>
      {% endblock content %}
      
      <footer class="text-center text-lg-start bg-body-tertiary text-muted">
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
          <div class="me-5 d-none d-lg-block" >
            <span>Get connected with us on social networks:</span>
          </div>
          <div>
            <a href="https://www.facebook.com" class="me-4 text-reset">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com/?lang=en" class="me-4 text-reset">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.google.com/" class="me-4 text-reset">
              <i class="fab fa-google"></i>
            </a>
            <a href="https://www.instagram.com/" class="me-4 text-reset">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
        </section>
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3"></i>Team Penta Tour Planners
                </h6>
                <p>
                  We let your dream trips come true. Explore the world with Team Penta
                </p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Services
                </h6>
                <p>
                  <a href="#!" class="text-reset">Wedding Trips</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">School/college Trips</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Industrial Visit</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Pilgrim Visit</a>
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">
                  Adieu
                </h6>
                <p>
                  <a href="https://www.instagram.com/i.amallal?igsh=eHg5ajU3M2gweDVr" class="text-reset">Amal Lal</a>
                </p>
                <p>
                  <a href="https://www.instagram.com/men_in__black____?igsh=MXIzaGxjNGtoczNiZQ==" class="text-reset">Ananthu Sabu</a>
                </p>
                <p>
                  <a href="https://www.instagram.com/the_bullrider___?igsh=cGZzanBzbG1tbXI5" class="text-reset">Athul Anil</a>
                </p>
                <p>
                  <a href="https://www.instagram.com/__an_thu_?igsh=OG1nYWloZXd5a2xo" class="text-reset">Ananthu Rajendran</a>
                </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p><i class="fas fa-home me-3"></i> Thalumkal ,Koottickal,kottayam</p>
                <p>
                  <i class="fas fa-envelope me-3"></i>
                  support.teampenta@gmail.com
                </p>
                <p><i class="fas fa-phone me-3"></i> 9207839080</p>
                <p><i class="fas fa-print me-3"></i> 6238473587</p>
              </div>
            </div>
          </div>
        </section>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          <a href="http://127.0.0.1:8000/admin/">©</a> 2020 Copyright:
          <a class="text-reset fw-bold" href="#">teampentatours.com</a>
        </div>
      </footer>
</body>
</html>